*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
files
keystore.properties
*.jks
*.apk
*.apks
*.m3u
*.m3u8

# Exclude testing folder
testing/
testing
Testing
debug_build_log_*.txt
*.log
*.logs

firebase_remote_config_reference.txt